*{margin: 0;
padding: 0;
box-sizing: border-box;
}


a{
    text-decoration: none;
}
.logoHeader{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;      
}

nav a {
    color: black;

}

ul li{
    list-style: none;
    color: black;
    font-weight: bold;
    margin: 20px;
    
}
.fondWidth{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10px;

}
.ulHeader{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.displayHeader{
    display: flex;
}
.Fond{
    background-image: url(Images/lilo_stitch_hero_4009_r_e7d96ac6.jpg);
    background-size: cover;
    position: relative;
    width: 80%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position:center; 
    margin: 0 auto;
    
}

.stitchRouge{
    width: 390px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.titleimage{
    position:absolute;
    top: 120px;
    left: 150px;

}
.boutton{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.ecrit{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-family: sans-serif;
}
.deuxiemePartie{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width:80%;
    background-color: rgba(248, 248, 248, 0.919);
    margin: 0 auto;
}

.post {
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-bottom: 40px;
    margin: 10px;   
}

.imagestyle {
    width: 17em;
    object-fit: cover;

}

.AllPosts{
    display: flex;
    /*margin-left: 100px;
    margin-right: 100px; */
    
}

h3{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;;
    font-size: 18px;
    display: flex;
    justify-content: center;

}

p{
    width: 12em;
    display: flex;
    justify-content: center;

}

.link{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-family: sans-serif;
}

.NameContent{
    font-style: bold;
    font-weight: 800;
}

.troisiemePartie{
    background-color:#054553 ;
    width:80%;
    margin: 0 auto;
}   

.AllPosts2{
    display: flex;
    justify-content: center;
    

}

.thirdPartImg{
    width: 26em;
    
}
.thirdImgMargin{
    margin-right: 25px;
}
.inscriptButton{
    display: flex;
    justify-content: center;
    padding: 35px ;
    
}